[submodule "submodules/mpf_xpm_fifo_cmd_sync"]
	path = submodules/mpf_xpm_fifo_cmd_sync
	url = https://github.com/MasterPlayer/mpf_xpm_fifo_cmd_sync.git
[submodule "submodules/mpf_xpm_fifo_in_sync_counted"]
	path = submodules/mpf_xpm_fifo_in_sync_counted
	url = https://github.com/MasterPlayer/mpf_xpm_fifo_in_sync_counted.git
