[submodule "submodules/mp_irq_retryer"]
	path = submodules/mp_irq_retryer
	url = https://github.com/MasterPlayer/mp_irq_retryer.git
[submodule "submodules/mp_irq_generator"]
	path = submodules/mp_irq_generator
	url = https://github.com/MasterPlayer/mp_irq_generator.git
